--extra-index-url https://download.pytorch.org/whl/cpu
alpaca-py==0.28.3
db-sqlite3
finnhub-python
jsonpickle
matplotlib
mplfinance
numpy
pandas
polygon
pygad
pytimeparse
tk
torch
torchaudio
torchvision
tqdm
yfinance
